@import "./tokens.scss";

.Step__icon {
  background: $color-light-gray;
  color: $color-gray;
  padding: 15px 17px;
}

.Step__icon.-active {
  color: $color-purple;
}
.Step__icon.-completed {
  color: $color-green;
}

.Step__label {
  font-size: $font-size-label;
  line-height: 24px;

  margin-left: 33px;
  margin-right: 33px;
}
